<form [formGroup]="contactForm" (ngSubmit)="addContact()">
    <label>
        name
        <input type="text" formControlName="name"/>
        <!-- errors -->
        <div *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].invalid" class="form-error">
            <div *ngIf="contactForm.controls['name'].errors && contactForm.controls['name'].errors['required']">Name is required.</div>
            <div *ngIf="contactForm.controls['name'].errors && contactForm.controls['name'].errors['minlength']">Name should be 2 character.</div>
        </div>
    </label>
    <label>
        email
        <input type="text" formControlName="email"/>
    </label>
    <label>
        phone
        <input type="text" formControlName="phone" mask="000-000-0000"/>
    </label>
    <label>
        comment
        <input type="text" formControlName="comment"/>
    </label>
    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
</form>
