<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- TODO: add routerLink active class ... class="active" -->
    <div class="links">
        <a mat-button routerLink="example-1" routerLinkActive="active">Example-1</a>
        <a mat-button routerLink="example-2" routerLinkActive="active">Example-2</a>
        <a mat-button routerLink="contacts" routerLinkActive="active">Contacts</a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
